﻿@using MVCExample.Models

@model Logins

@{

    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

<link href="~/Content/mvcNotify.css" rel="stylesheet" />

<link href="~/Content/font-awesome.css" rel="stylesheet" />

@Styles.Render("~/Content/toastr")


@using (Html.BeginForm("Index", "Login"))

{



    <div class="form-group has-feedback">

        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Kullanıcı Adı" })

        <span class="glyphicon glyphicon-user form-control-feedback"></span>

    </div>

    <div class="form-group has-feedback">

        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Şifre", @type = "Password" })

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

    </div>

    <div class="row">

        <div class="col-xs-8">

            <div class="checkbox icheck">



            </div>

        </div>

        <!-- /.col -->

        <div class="col-xs-4">

            <button type="submit" name="Command" value="KayitOl" class="btn btn-primary btn-block btn-flat">Kayıt Ol</button>
            <button type="submit" name="Command" value="Giris" class="btn btn-primary btn-block btn-flat">Giriş</button>



        </div>

        <!-- /.col -->

    </div>

}
