﻿@using MVCExample.Models

@model UserDetails

@{

    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

<link href="~/Content/mvcNotify.css" rel="stylesheet" />

<link href="~/Content/font-awesome.css" rel="stylesheet" />

@Styles.Render("~/Content/toastr")


@using (Html.BeginForm("Register", "Login"))

{


    <div class="form-group has-feedback">

        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName" })

        <span class="glyphicon glyphicon-user form-control-feedback"></span>

    </div>
    <div class="form-group has-feedback">

        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @type = "Password" })

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

    </div>
    <div class="form-group has-feedback">

        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", @placeholder = "Surname" })

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

    </div>
    <div class="form-group has-feedback">

        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })

        <span class="glyphicon glyphicon-user form-control-feedback"></span>

    </div>
    //Gender drop-down menu oluşturulacak
    <div class="form-group has-feedback">

        @Html.TextBoxFor(m => m.Weight, new { @class = "form-control", @placeholder = "Weight" })

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

    </div>
    <div class="form-group has-feedback">

        @Html.TextBoxFor(m => m.Height, new { @class = "form-control", @placeholder = "Height" })

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

    </div>
    <div class="form-group has-feedback">

        @Html.TextBoxFor(m => m.Mail, new { @class = "form-control", @placeholder = "Mail" })

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

    </div>
    <div class="form-group has-feedback">

        @Html.TextBoxFor(m => m.ShortCV, new { @class = "form-control", @placeholder = "ShortCV" })

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

    </div>
    <div class="form-group has-feedback">

        @Html.DropDownListFor(m => m.Gender, (SelectList)ViewBag.GetGender, "Seçiniz", new { @id = "Cinsiyet", @class = "form-control select2" })


    </div>
    <div class="form-group has-feedback">

        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number" })

        <span class="glyphicon glyphicon-lock form-control-feedback"></span>

    </div>

    <div class="row">

        <div class="col-xs-8">

            <div class="checkbox icheck">



            </div>

        </div>

        <!-- /.col -->

        <div class="col-xs-4">

            <button type="submit" class="btn btn-primary btn-block btn-flat">Kayıt Ol </button>



        </div>

        <!-- /.col -->

    </div>

}
